@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Overpass+Mono|Pacifico');

body {
    background-color: #547cbc;
}



#wrapper {
  width: 30em;
  min-width: 20em;
  height: 450px;
  margin: 5% auto;
  background: #4f5e77;
  border-radius: 10px;
  overflow: auto;
  font-family: "Lato";
  box-shadow: 0 0 20px black;
}

#heading {
    text-align: center;
    margin-bottom: -2.5%;
    font-family: "Pacifico";
    font-size: 3em;
}

#output {
    background: #6f8bb7;
    width: 90%;
    height:50px;
    font-size: 2.5em;
    border-radius: 5px;
    margin: 0.6em auto;
    box-shadow: 0 0 5px;
}

button {
    width:  70px;
    height: 70px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 900;
    margin-left: 1.6em;
    margin-bottom: 0.6em;
    box-shadow: 0 0 5px;
    font-family: "lato";

}



#equals {
  background-color: #ce7f2f;
}
